.panel {
    height: 100vh;
    width: 30%;
}

.parent {
    display: flex;
    font-size: 0;
    flex-wrap: wrap;
    margin: -10px 0 0 -10px;
}

.cell {
    flex: 1 0 9%; /* explanation below */
    height: 40px;
    background-color: blue;
    border: 1px solid #c4c4c4;
}
